@import url('https://fonts.googleapis.com/css2?family=Lora&family=Shippori+Antique+B1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    width: 1366px;
}

.header {

}

.header__sub {
    background-color: #fe82b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 40px;
    color: #fff;
}

.header__sub-title {
    font-size: 17px;
}

.header__main {
    background-color: #ffeeff;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

.header__input {
    width: 450px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #fecccb;
}

.header__input::placeholder {
    margin-left: 20px;
}

.header-btn-icon {
    width: 40px;
    height: 40px;
    background-color: #fecccb;
    border: 1px solid rgb(0, 0, 0);
    margin-left: -5px;
}

.header__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__nav{
    height: 40px;
    background-color: #fe82b2;
}

.header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 40px;
    color: #fff;
    list-style: none;
    font-weight: bold;
}

.banner {
    padding: 0 40px;
}

.shop{
    padding: 0 96px;
}
.shop__list-1{
    display: flex;
    justify-content: space-between;
}

.shop__list-2{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.shop__title{
    margin-top: 48px;
}
.shop__list-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.shop__list-4 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}


.shop-item{

}
.shop-item-img{

}

.banner1 {
    margin-top: 40px;
}

footer {
    height: 262px;
    background-color: #ff99cb;
    margin-top: 20px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    width: 25%;
}

.footer-list h4 {
    font-weight: bold;
    font-size: 16px;
}

.footer-list p {
    font-size: 15px;
    padding-left: 15px;
}



